
.info_image 
{
	
    margin: 40px 0px 4px 8px;
	
    width: 24px; height: 24px;
	
    display: block;

}



.mobile_label 
{
	
    text-decoration: none; 
    font-weight: normal; 
    font-style: italic; 
    text-align: left; 
    font-family: Helvetica; 
    font-size: 16px;
	
    margin: 10px 0px 4px 0px;
	
    word-wrap: break-word;
	
    white-space: normal;

}


