.daily-points {
    float: left;
    display:inline-block; 
    width:100px;
    height:100px;
    padding:50px 0 0 0;
    background: url('./Images/Buttons/Diary.png') no-repeat;  
    background-position: top center;  
    text-align:center;   
    vertical-align:text-top;
}

.calculator {
    float: left;
    display:inline-block; 
    width:100px;
    height:100px;
    padding:50px 0 100px 0;
    background: url('./Images/Buttons/Calculator.jpg') no-repeat;  
    background-position: top center;  
    text-align:center;   
    vertical-align:text-top;
}

.list {
    float: left;
    display:inline-block; 
    width:100px;
    height:100px;
    padding:50px 0 200px 0;
    background: url('./Images/Buttons/list.jpg') no-repeat;  
    background-position: top center;  
    text-align:center;   
    vertical-align:text-top;
}


